.nav {
  padding-top: calc(var(--primary-spacing) * 0.75);
  padding-bottom: calc(var(--primary-spacing) * 0.75);
  transition: padding 0.25s;

  &--scroll {
    padding-top: calc(var(--primary-spacing) * 0.5);
    padding-bottom: calc(var(--primary-spacing) * 0.5);
  }
}