.off-canvas {
  --off-canvas-child-movement: 100%;
  position: fixed;
  z-index: 30;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--light-primary-shadow-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;

  &--show {
    opacity: 1;
    pointer-events: auto;
    --off-canvas-child-movement: 0;
  }

  &--right {
    & .off-canvas__child {
      top: 0;
      right: 0;
      transform: translateX(var(--off-canvas-child-movement));
    }

    & .off-canvas__close {
      top: calc(var(--primary-element-spacing) / 2);
      left: calc(var(--primary-element-spacing) / 2);
    }
  }

  @media (min-width: 768px) {
    &--mobile {
      all: unset;
      --off-canvas-child-movement: 0;

      & .off-canvas__child {
        all: unset;
      }

      & .off-canvas__close {
        display: none;
      }
    }
  }

  &__child {
    position: absolute;
    width: 50%;
    height: 100%;
    padding: calc(var(--primary-element-spacing) / 2);
    box-sizing: border-box;
    background-color: var(--light-primary-shadow-color);
    transition: transform 0.25s;
  }

  &__close {
    position: absolute;
  }
}